Strategy: <br />
Add all stages (CDRGLOB is in \[0, 0.5, 1, 2, 3\]) in the broader dataset as training samples, and use the clinician diagnosis as the label if there is no autopsy.

In [1]:
import pickle
import pandas as pd

In [2]:
# read in nacc_csv file
with open("../../../data/data_with_date/nacc_csv_with_dates.csv", "rt") as fin:
    nacc_csv = pd.read_csv(fin, low_memory=False)

In [3]:
# read in valid and test set of preprocessed first visit set
with open("../../processed_data/processed_csv/first_visit_features/valid_first_visit_features.csv", "rt") as fin:
    valid_csv = pd.read_csv(fin, low_memory=False)

In [4]:
with open("../../processed_data/processed_csv/first_visit_features/test_first_visit_features.csv", "rt") as fin:
    test_csv = pd.read_csv(fin, low_memory=False)

In [5]:
# get valid and test patient lists
valid_patients_list = list(pd.unique(valid_csv["NACCID"]))
test_patients_list = list(pd.unique(test_csv["NACCID"]))

In [6]:
# remove all valid patients in the original dataset
nacc_csv_remove_valid = nacc_csv.loc[~(nacc_csv["NACCID"].isin(valid_patients_list))]

In [9]:
# remove all test patients in the original dataset
nacc_csv_remove_valid_test = nacc_csv_remove_valid.loc[~(nacc_csv_remove_valid["NACCID"].isin(test_patients_list))]

In [11]:
# get the number of column of valid_csv test_csv and nacc_csv_remove_valid_rest
len(pd.unique(nacc_csv_remove_valid_test.columns)), len(pd.unique(valid_csv.columns)), len(pd.unique(test_csv.columns))

(696, 697, 697)

In [12]:
# to get the values of NACCALZD and NACCLEWY
pd.unique(nacc_csv_remove_valid_test["NACCALZD"])

array([0, 1, 8])

In [13]:
pd.unique(nacc_csv_remove_valid_test["NACCLBDE"])

array([0, 1, 8])

In [14]:
# to test whether there is some intersection between train/valid, train/test, valid/test
set(list(pd.unique(nacc_csv_remove_valid_test["NACCID"]))).intersection(set(valid_patients_list))

set()

In [15]:
set(list(pd.unique(nacc_csv_remove_valid_test["NACCID"]))).intersection(set(test_patients_list))

set()

In [17]:
set(valid_patients_list).intersection(set(test_patients_list))

set()

In [18]:
# to get label for each line in nacc_csv_remove_valid_test
def label_disease(row):
    # if there is autopsy, we use autopsy as the label
    if row["NPADNC"] in [0, 1, 2, 3] and row["NACCLEWY"] in [0, 1, 2, 3]:
        # PURE AD
        if row["NPADNC"] in [2, 3] and row["NACCLEWY"] == 0:
            return 0
        # PURE LBD
        elif row["NPADNC"] in [0, 1] and row["NACCLEWY"] == 3:
            return 1
        # MIXED AD + LBD
        elif row["NPADNC"] in [2, 3] and row["NACCLEWY"] in [1, 2, 3]:
            return 2
        # OTHERS
        else:
            return 3
    # else use the clinician diagnosis
    else:
        # PURE AD
        if row["NACCALZD"]==1 and row["NACCLBDE"] in [0, 8]:
            return 0
        # PURE LBD
        elif row["NACCALZD"] in [0, 8] and row["NACCLBDE"]==1:
            return 1
        # MIXED AD + LBD
        elif row["NACCALZD"]==1 and row["NACCLBDE"]==1 :
            return 2
        # OTHERS
        else:
            return 3
    
nacc_csv_remove_valid_test["label"] = nacc_csv_remove_valid_test.apply (lambda row: label_disease(row), axis=1)

/gpfs/share/apps/python/gpu/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
nacc_csv_remove_valid_test[["NACCID", "DATE", "NPADNC", "NACCLEWY", "NACCALZD", "NACCLBDE", "label"]]

            NACCID        DATE  NPADNC  NACCLEWY  NACCALZD  NACCLBDE  label
0       NACC000011  2006-04-17      -4        -4         0         0      3
1       NACC000011  2007-06-18      -4        -4         0         0      3
2       NACC000011  2008-06-03      -4        -4         1         0      0
3       NACC000011  2009-08-03      -4        -4         0         0      3
4       NACC000034  2015-07-16      -4        -4         1         0      0
5       NACC000034  2016-11-01      -4        -4         1         0      0
6       NACC000034  2017-09-18      -4        -4         1         0      0
7       NACC000034  2018-11-05      -4        -4         1         0      0
8       NACC000067  2012-05-23      -4        -4         0         1      1
9       NACC000067  2013-05-15      -4        -4         0         1      1
10      NACC000067  2014-06-25      -4        -4         0         1      1
11      NACC000073  2016-05-20      -4        -4         8         8      3
12      NACC000095  2014-05-23      -4        -4         1         0      0
13      NACC000144  2010-08-17      -4        -4         8         8      3
14      NACC000144  2015-09-08      -4        -4         8         8      3
15      NACC000144  2019-02-11      -4        -4         8         8      3
16      NACC000162  2009-03-10      -4        -4         1         0      0
17      NACC000162  2010-03-23      -4        -4         1         0      0
18      NACC000162  2011-06-01      -4        -4         0         0      3
19      NACC000162  2012-07-05      -4        -4         8         8      3
20      NACC000162  2013-05-28      -4        -4         8         8      3
21      NACC000162  2014-06-05      -4        -4         8         8      3
22      NACC000162  2015-08-06      -4        -4         8         8      3
23      NACC000162  2016-04-26      -4        -4         1         0      0
24      NACC000162  2017-11-10      -4        -4         1         0      0
25      NACC000162  2018-01-18      -4        -4         1         0      0
26      NACC000184  2007-01-29      -4        -4         0         0      3
27      NACC000184  2008-02-20      -4        -4         0         0      3
28      NACC000225  2009-09-23      -4        -4         0         0      3
29      NACC000225  2010-11-17      -4        -4         8         8      3
...            ...         ...     ...       ...       ...       ...    ...
142385  NACC999839  2013-03-04      -4        -4         8         8      3
142386  NACC999839  2014-03-18      -4        -4         8         8      3
142387  NACC999839  2015-06-25      -4        -4         8         8      3
142388  NACC999839  2016-05-10      -4        -4         8         8      3
142389  NACC999839  2017-08-22      -4        -4         0         0      3
142390  NACC999839  2018-08-17      -4        -4         1         0      0
142391  NACC999853  2006-08-18      -4        -4         1         0      0
142392  NACC999853  2007-07-03      -4        -4         1         0      0
142393  NACC999854  2006-08-14      -4        -4         8         8      3
142394  NACC999854  2007-07-09      -4        -4         8         8      3
142395  NACC999854  2008-06-25      -4        -4         8         8      3
142396  NACC999854  2009-06-17      -4        -4         8         8      3
142397  NACC999854  2010-08-06      -4        -4         8         8      3
142398  NACC999854  2011-08-05      -4        -4         8         8      3
142399  NACC999854  2012-07-25      -4        -4         8         8      3
142400  NACC999854  2013-06-28      -4        -4         8         8      3
142401  NACC999854  2014-08-22      -4        -4         8         8      3
142402  NACC999854  2015-09-09      -4        -4         8         8      3
142403  NACC999854  2016-07-15      -4        -4         8         8      3
142404  NACC999854  2017-09-01      -4        -4         8         8      3
142405  NACC999854  2018-09-24      -4        -4         8         8      3
142406  NACC999872  2005-09-02      -4        -4         0         0      3
142407  NACC999872  2006-10-20      -4        -4         8         8      3
142408  NACC999872  2010-07-01      -4        -4         8         8      3
142409  NACC999872  2011-09-12      -4        -4         8         8      3
142410  NACC999872  2013-10-24      -4        -4         8         8      3
142411  NACC999922  2012-08-07      -4        -4         8         8      3
142412  NACC999922  2013-08-06      -4        -4         8         8      3
142413  NACC999954  2006-03-27      -4        -4         1         0      0
142414  NACC999969  2009-11-02      -4        -4         8         8      3

[138474 rows x 7 columns]

In [20]:
# remove those records which are healthy based on clinician diagnosis
train_csv = nacc_csv_remove_valid_test

In [21]:
train_csv.loc[(train_csv["NACCALZD"]==8)&(train_csv["NACCLBDE"]==8)&(train_csv["label"]!=3)][["NACCID", "DATE", "NACCALZD", "NACCLBDE", "NPADNC", "NACCLEWY", "label"]]

            NACCID        DATE  NACCALZD  NACCLBDE  NPADNC  NACCLEWY  label
602     NACC004234  2007-08-17         8         8       2         2      2
603     NACC004234  2009-09-10         8         8       2         2      2
604     NACC004234  2013-04-09         8         8       2         2      2
963     NACC007130  2007-11-16         8         8       3         0      0
964     NACC007130  2008-11-13         8         8       3         0      0
965     NACC007130  2009-11-09         8         8       3         0      0
966     NACC007130  2010-11-08         8         8       3         0      0
967     NACC007130  2011-12-02         8         8       3         0      0
1273    NACC009307  2005-10-21         8         8       2         2      2
1274    NACC009307  2007-01-09         8         8       2         2      2
1275    NACC009307  2008-03-10         8         8       2         2      2
1276    NACC009307  2009-04-02         8         8       2         2      2
1277    NACC009307  2010-06-29         8         8       2         2      2
1278    NACC009307  2011-06-23         8         8       2         2      2
1279    NACC009307  2012-06-22         8         8       2         2      2
1280    NACC009307  2013-08-02         8         8       2         2      2
1281    NACC009307  2015-01-08         8         8       2         2      2
2486    NACC018152  2013-01-18         8         8       3         0      0
3194    NACC023529  2006-12-12         8         8       2         0      0
3195    NACC023529  2007-10-03         8         8       2         0      0
3197    NACC023529  2011-01-05         8         8       2         0      0
3198    NACC023529  2012-01-30         8         8       2         0      0
3547    NACC025829  2008-08-28         8         8       2         0      0
3565    NACC025911  2005-12-21         8         8       2         3      2
3566    NACC025911  2006-12-07         8         8       2         3      2
3567    NACC025911  2008-03-11         8         8       2         3      2
3568    NACC025911  2009-03-03         8         8       2         3      2
4757    NACC034493  2007-05-02         8         8       2         0      0
4758    NACC034493  2008-06-17         8         8       2         0      0
4759    NACC034493  2009-06-02         8         8       2         0      0
...            ...         ...       ...       ...     ...       ...    ...
138826  NACC974448  2007-08-31         8         8       2         3      2
138827  NACC974448  2008-10-08         8         8       2         3      2
138828  NACC974448  2011-02-28         8         8       2         3      2
138881  NACC975021  2006-05-17         8         8       2         0      0
138882  NACC975021  2007-04-18         8         8       2         0      0
138883  NACC975021  2008-03-28         8         8       2         0      0
138884  NACC975021  2009-04-07         8         8       2         0      0
138885  NACC975021  2010-04-06         8         8       2         0      0
138886  NACC975021  2011-03-24         8         8       2         0      0
138984  NACC975882  2006-04-04         8         8       2         0      0
138985  NACC975882  2007-05-25         8         8       2         0      0
138986  NACC975882  2008-08-04         8         8       2         0      0
138987  NACC975882  2009-05-07         8         8       2         0      0
138988  NACC975882  2010-05-13         8         8       2         0      0
138989  NACC975882  2011-06-02         8         8       2         0      0
138990  NACC975882  2012-05-10         8         8       2         0      0
138991  NACC975882  2013-07-30         8         8       2         0      0
139223  NACC977611  2006-05-24         8         8       2         0      0
139224  NACC977611  2007-06-15         8         8       2         0      0
140340  NACC985026  2007-09-06         8         8       2         0      0
140341  NACC985026  2008-09-02         8         8       2         0      0
140342  NACC985026  2009-08-31         8         8       2         0      0
140343  NACC985026  2010-08-10         8         8       2         0      0
140344  NACC985026  2011-08-26         8         8       2         0      0
140345  NACC985026  2012-08-03         8         8       2         0      0
140346  NACC985026  2013-08-14         8         8       2         0      0
140347  NACC985026  2014-07-07         8         8       2         0      0
141598  NACC994083  2006-04-02         8         8       3         3      2
141599  NACC994083  2007-04-17         8         8       3         3      2
141600  NACC994083  2009-05-05         8         8       3         3      2

[1047 rows x 7 columns]

In [22]:
pd.unique(train_csv["NPADNC"])

array([-4,  3,  2,  1,  0,  8,  9])

In [23]:
drop_rows_index = train_csv.loc[(train_csv["NPADNC"].isin([-4, 8, 9])) & (train_csv["NACCLEWY"].isin([-4, 8, 9])) & (train_csv["NACCALZD"]==8) & (train_csv["NACCLBDE"]==8) & (train_csv["label"]==3)].index

In [24]:
train_csv.drop(drop_rows_index, inplace=True)

/gpfs/share/apps/python/gpu/3.6.5/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [25]:
train_csv.loc[(train_csv["NACCALZD"]==0) & (train_csv["NACCLBDE"]==0)][["NACCID", "DATE", "NPADNC", "NACCLEWY", "label"]]

            NACCID        DATE  NPADNC  NACCLEWY  label
0       NACC000011  2006-04-17      -4        -4      3
1       NACC000011  2007-06-18      -4        -4      3
3       NACC000011  2009-08-03      -4        -4      3
18      NACC000162  2011-06-01      -4        -4      3
26      NACC000184  2007-01-29      -4        -4      3
27      NACC000184  2008-02-20      -4        -4      3
28      NACC000225  2009-09-23      -4        -4      3
34      NACC000236  2008-09-29      -4        -4      3
45      NACC000304  2006-04-13      -4        -4      3
52      NACC000382  2005-09-27      -4        -4      3
53      NACC000382  2006-09-27      -4        -4      3
54      NACC000382  2007-09-25      -4        -4      3
55      NACC000382  2008-10-21      -4        -4      3
56      NACC000382  2010-03-30      -4        -4      3
72      NACC000540  2016-04-18      -4        -4      3
75      NACC000579  2006-11-08      -4         0      3
135     NACC000941  2016-12-05      -4        -4      3
136     NACC000941  2017-02-05      -4        -4      3
137     NACC000941  2019-01-07      -4        -4      3
165     NACC001006  2016-11-14      -4        -4      3
176     NACC001118  2014-05-14      -4        -4      3
177     NACC001169  2007-12-20      -4        -4      3
178     NACC001169  2008-09-18      -4        -4      3
179     NACC001169  2009-12-17      -4        -4      3
181     NACC001169  2012-05-10      -4        -4      3
182     NACC001169  2014-01-09      -4        -4      3
210     NACC001488  2006-10-23      -4        -4      3
211     NACC001488  2008-01-07      -4        -4      3
212     NACC001488  2009-03-17      -4        -4      3
222     NACC001508  2017-05-09      -4        -4      3
...            ...         ...     ...       ...    ...
142153  NACC998290  2013-08-22       0         0      3
142165  NACC998350  2013-07-26      -4        -4      3
142180  NACC998475  2006-10-20      -4        -4      3
142181  NACC998475  2007-11-15      -4        -4      3
142182  NACC998475  2008-11-06      -4        -4      3
142187  NACC998489  2016-05-24      -4        -4      3
142215  NACC998810  2010-11-01      -4        -4      3
142216  NACC998810  2013-11-06      -4        -4      3
142217  NACC998810  2015-11-20      -4        -4      3
142218  NACC998810  2016-11-17      -4        -4      3
142224  NACC998866  2005-11-22      -4        -4      3
142225  NACC998866  2007-05-30      -4        -4      3
142230  NACC998948  2010-06-01      -4        -4      3
142231  NACC998948  2011-08-16      -4        -4      3
142232  NACC998948  2012-11-13      -4        -4      3
142233  NACC998948  2014-07-03      -4        -4      3
142243  NACC998980  2008-02-28      -4        -4      3
142256  NACC999074  2007-08-06      -4        -4      3
142271  NACC999159  2010-08-12       2         3      2
142299  NACC999391  2006-03-02      -4        -4      3
142310  NACC999410  2016-07-29      -4        -4      3
142311  NACC999410  2018-08-23      -4        -4      3
142335  NACC999566  2017-06-26      -4        -4      3
142336  NACC999566  2018-05-09      -4        -4      3
142347  NACC999651  2012-08-06      -4        -4      3
142362  NACC999697  2009-07-29      -4        -4      3
142370  NACC999724  2010-06-17      -4        -4      3
142377  NACC999780  2006-07-03       3         0      0
142389  NACC999839  2017-08-22      -4        -4      3
142406  NACC999872  2005-09-02      -4        -4      3

[19886 rows x 5 columns]

In [26]:
train_csv.loc[(train_csv["NACCALZD"]==8)&(train_csv["NACCLBDE"]==8)&(train_csv["label"]!=3)][["NACCID", "DATE", "NACCALZD", "NACCLBDE", "NPADNC", "NACCLEWY", "label"]]

            NACCID        DATE  NACCALZD  NACCLBDE  NPADNC  NACCLEWY  label
602     NACC004234  2007-08-17         8         8       2         2      2
603     NACC004234  2009-09-10         8         8       2         2      2
604     NACC004234  2013-04-09         8         8       2         2      2
963     NACC007130  2007-11-16         8         8       3         0      0
964     NACC007130  2008-11-13         8         8       3         0      0
965     NACC007130  2009-11-09         8         8       3         0      0
966     NACC007130  2010-11-08         8         8       3         0      0
967     NACC007130  2011-12-02         8         8       3         0      0
1273    NACC009307  2005-10-21         8         8       2         2      2
1274    NACC009307  2007-01-09         8         8       2         2      2
1275    NACC009307  2008-03-10         8         8       2         2      2
1276    NACC009307  2009-04-02         8         8       2         2      2
1277    NACC009307  2010-06-29         8         8       2         2      2
1278    NACC009307  2011-06-23         8         8       2         2      2
1279    NACC009307  2012-06-22         8         8       2         2      2
1280    NACC009307  2013-08-02         8         8       2         2      2
1281    NACC009307  2015-01-08         8         8       2         2      2
2486    NACC018152  2013-01-18         8         8       3         0      0
3194    NACC023529  2006-12-12         8         8       2         0      0
3195    NACC023529  2007-10-03         8         8       2         0      0
3197    NACC023529  2011-01-05         8         8       2         0      0
3198    NACC023529  2012-01-30         8         8       2         0      0
3547    NACC025829  2008-08-28         8         8       2         0      0
3565    NACC025911  2005-12-21         8         8       2         3      2
3566    NACC025911  2006-12-07         8         8       2         3      2
3567    NACC025911  2008-03-11         8         8       2         3      2
3568    NACC025911  2009-03-03         8         8       2         3      2
4757    NACC034493  2007-05-02         8         8       2         0      0
4758    NACC034493  2008-06-17         8         8       2         0      0
4759    NACC034493  2009-06-02         8         8       2         0      0
...            ...         ...       ...       ...     ...       ...    ...
138826  NACC974448  2007-08-31         8         8       2         3      2
138827  NACC974448  2008-10-08         8         8       2         3      2
138828  NACC974448  2011-02-28         8         8       2         3      2
138881  NACC975021  2006-05-17         8         8       2         0      0
138882  NACC975021  2007-04-18         8         8       2         0      0
138883  NACC975021  2008-03-28         8         8       2         0      0
138884  NACC975021  2009-04-07         8         8       2         0      0
138885  NACC975021  2010-04-06         8         8       2         0      0
138886  NACC975021  2011-03-24         8         8       2         0      0
138984  NACC975882  2006-04-04         8         8       2         0      0
138985  NACC975882  2007-05-25         8         8       2         0      0
138986  NACC975882  2008-08-04         8         8       2         0      0
138987  NACC975882  2009-05-07         8         8       2         0      0
138988  NACC975882  2010-05-13         8         8       2         0      0
138989  NACC975882  2011-06-02         8         8       2         0      0
138990  NACC975882  2012-05-10         8         8       2         0      0
138991  NACC975882  2013-07-30         8         8       2         0      0
139223  NACC977611  2006-05-24         8         8       2         0      0
139224  NACC977611  2007-06-15         8         8       2         0      0
140340  NACC985026  2007-09-06         8         8       2         0      0
140341  NACC985026  2008-09-02         8         8       2         0      0
140342  NACC985026  2009-08-31         8         8       2         0      0
140343  NACC985026  2010-08-10         8         8       2         0      0
140344  NACC985026  2011-08-26         8         8       2         0      0
140345  NACC985026  2012-08-03         8         8       2         0      0
140346  NACC985026  2013-08-14         8         8       2         0      0
140347  NACC985026  2014-07-07         8         8       2         0      0
141598  NACC994083  2006-04-02         8         8       3         3      2
141599  NACC994083  2007-04-17         8         8       3         3      2
141600  NACC994083  2009-05-05         8         8       3         3      2

[1047 rows x 7 columns]

In [27]:
len(pd.unique(train_csv["NACCID"])), len(train_csv)

(27926, 77595)

In [28]:
len(train_csv.loc[train_csv["NACCID"]=="NACC000011"])

4

In [29]:
# drop the index 
train_csv = train_csv.reset_index(drop=True)
valid_csv = valid_csv.reset_index(drop=True)
test_csv = test_csv.reset_index(drop=True)

In [30]:
len(train_csv), len(pd.unique(train_csv["NACCID"]))

(77595, 27926)

In [31]:
# get the labels for it
train_labels = train_csv[["NACCID", "DATE", "label"]]
valid_labels = valid_csv[["NACCID", "DATE", "label"]]
test_labels = test_csv[["NACCID", "DATE", "label"]]

In [33]:
# write them into csv files
with open("./csv/features/train_features.csv", "wt") as fout:
    train_csv.to_csv(fout, index=False)
with open("./csv/features/valid_features.csv", "wt") as fout:
    valid_csv.to_csv(fout, index=False)
with open("./csv/features/test_features.csv", "wt") as fout:
    test_csv.to_csv(fout, index=False)

In [34]:
# write the labels into csv files
with open("./csv/labels/train_labels.csv", "wt") as fout:
    train_labels.to_csv(fout, index=False)
with open("./csv/labels/valid_labels.csv", "wt") as fout:
    valid_labels.to_csv(fout, index=False)
with open("./csv/labels/test_labels.csv", "wt") as fout:
    test_labels.to_csv(fout, index=False)

In [35]:
# get the statistics for the training labels
label_list = ["PURE AD", "PURE LBD", "MIXED", "OTHERS"]
for index, label in enumerate(label_list):
    print("the number of {} is {}".format(label, len(train_labels.loc[train_labels["label"]==index])))

the number of PURE AD is 47684
the number of PURE LBD is 3270
the number of MIXED is 4066
the number of OTHERS is 22575